/*
colors used:
white: #ffffff
light light blue: #bcddff
light blue: #86c2ff
dark blue: #0b08a2
orange: #f05307
off-black: #1d1d1d
*/
* {
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
    font-family: 'Hind', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.6;
    color: #1d1d1d;
}

h1, h2, h3, h4 {
    font-family: 'Hind', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
    color: #1d1d1d;
}
h1 {
    font-size: 2.5em;
    font-weight: 700;
}
h2 {
    font-size: 2.0em;
    font-weight: 700;
}
h3 {
    font-size: 1.5em;
    font-weight: 400;
}
h4 {
    font-size: 1.1em;
    font-weight: 400;
}
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color: #1d1d1d;
}
img {
    width: 100%;
}

a {
    color: #0b08a2;
    text-decoration: none;
}
a:visited {
    color: #c60e01;

}
a:hover,
a:focus {
    color: #f05307;
    text-decoration: underline;
}
a:active {
    color: #86c2ff;
}

.button {
    display: inline-block;
    background-color: #0b08a2;
    color: #ffffff;
    font-weight: 400;
    padding: 10px;
    border-radius: 45px;
    border-bottom: 2px solid grey;
    transition: 0.2s opacity;
}
.button:visited {
    background-color: #86c2ff;
    color: #0b08a2
}
.button:hover,
.button:focus {
    opacity: 0.8;
    text-decoration: none;
}
.button:active {
    background-color: #f05307;
    color: #ffffff;
    font-weight: 400;
}

.button.contact {
    background-color: transparent;
    color: #0b08a2;
    text-transform: uppercase;
    border: 2px solid #0b08a2;
}
.button.contact:visited {
    background-color: transparent;
    color: #0b08a2; 
    text-transform: uppercase;
    border: 2px solid #86c2ff;
}
.button.contact:hover,
.button.contact:focus {
    background-color: #f05307;
    color: #ffffff;
    border: 2px solid #f05307
}
.button.contact:active {
    background-color: #0b08a2;
    color: #ffffff;
    border: 2px solid #0b08a2;
}

/* Layout styling */

header {
    background-color: #bcddff;
    padding: 10px 0 4px;
    border-bottom: 3px solid #0b08a2;
    position: fixed;
    width: 100%;
}
.container {
    padding: 0 15px;
}
.row {
    margin: 25px 25px; /* 25 px top and bottom, 25 px left and right */
}
#work .row {
    padding-bottom: 25px; 
    border-bottom: 1px solid #4a4a4a;
}
#hero h1 {
    text-align: center; /*Centers text */
}
.center {
    text-align: center;
}
.logo {
    max-width: 150px;
}
nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #0b08a2;
}
nav > ul > li > a:visited {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #c60e01;
}
nav > ul > li > a:hover, nav > ul > li > a:focused {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #f05307;
}
nav > ul > li > a:active {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #0b08a2;
}
.navtoggle li:not(:last-child) {
    display: none;
}
.navtoggle, .navtoggle.responsive {
    position: relative;
}
.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 20px;
    padding-right: 0;
}
.navtoggle.responsive nav {
    padding: 24px 0 0;
}
.navtoggle.responsive li {
    display: block;
    padding: 10px 0;
    border-top: 1px solid rgba(255,127,80,0.5);
}
.navtoggle.responsive li:last-child {
    padding: 0 0 10px;
}
#hero {
    background-color: #bcddff;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    text-align: center;
}
/* #header .box-shadow{
	
	width: [object Object]px; 
	height: [object Object]px; 
	background: #BCDEFF; 
	border: solid #BDBDBD 0; 
	box-shadow: 0 9px 20px rgba(0, 0, 0, 0.3)  ; 
	-webkit-box-shadow: 0 9px 20px rgba(0, 0, 0, 0.3)  ; 
	-moz-box-shadow: 0 9px 20px rgba(0, 0, 0, 0.3)  ; 
}*/
main {
    padding-top: 91px;
}
#work {
    background-color: #ffffff;
    display: inline;
}
#work h2 {
    text-align: center;
}
#row {
    display: inline-block;
    width: 100%;
    position: relative;
}
/* #row h3, #row p, #row a {
    position: absolute;
    right: 0;
} */
footer {
    background-color: #bcddff;
    text-align: center;
    padding: 10px 0;
    display: inline-block;
    width: 100%;
}
footer > div > div > a > svg {
    max-width: 80px;
    padding: 20px 10px;
}
#profile {
    width: 80%;
    margin: 0 auto;
}
#about h1 {
    text-align: center;
    padding: 10px;
}
#plant-champs h1, #plant-champs h2 {
    text-align: center;
    padding: 10px;
}

/* media queries */

/* medium devices 640px and up, 1024 and up, 1440 and up */
@media only screen and (min-width: 640px) {
    header {
        text-align: unset;
        padding: 20px 0 13px;
    }
    .logo {
        max-width: 250px
    }
    nav {
        width: auto;
        float: right;
        margin-top: 30px;
    }
    nav > ul {
        margin: 1em 0;
    }
    nav > ul > li {
        display: inline-block;
    }
    .navtoggle li:not(:last-child) {
        display: inline-block;
    }
    .navtoggle li:last-child {
        display: none;
    }
    main {
        padding-top: 155px;
    }
    body {
        font-size: 20px;
    }
    /* #hero span {
        display: block;
    } */
    .col-md-6 {
        width: 50%;
    }
    [class*="col-"] {
        float: left;
        padding: 20px;
    }
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
    #about h3 {
        margin-top: 0;
    }
}
@media only screen and (min-width: 1024px) {
    .col-lg-7 {
        width: 58.33%;
    }
    .col-lg-5 {
        width: 41.66%; 
    }
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}
/*@media only screen and (min-width: 1440px) {

}*/

/*animation*/

@keyframes color-change {
    0% {fill: #edc655;}
    50% {fill: #fcffad;}
    100% {fill: #f76414;}
}
.sun {
    animation: 4s color-change infinite alternate linear;
}
@keyframes cloud-move {
    from {transform: translate(0, 50px);}
    to {transform: translate(200px, 50px);}
}
.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse {
    from {transform: translate(446px, 48px);}
    to {transform: translate(100px, 48px);}
}
.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}